* {
    margin: 0;
    padding: 0;
    box-sizing: bor;
}


body {
    background: linear-gradient(135deg, #667eea 0%, #4a5568 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.slider-box {
    background-color: white;
    border-radius: 20px;
    padding: 40px 30px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 15px
}

.slider-wrapper {
    width: 500px;
    height: 280px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.slider-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.slider-image.active{
    opacity: 1;
}

.arrow-btn{
    width: 50px;
    height: 50px;
    border-radius:  50%;
    display: flex;
    background-color: black;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;  /* Smooth color change */
}

.arrow-btn:hover {
    background: #1a202c;
}

.arrow-btn:active {
    transform: scale(0.95);
}

.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    z-index: 10;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);  /* Semi-transparent white */
    border: 2px solid #2d3748;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot:hover{
    background: rgba(76, 71, 71, 0.8);
    transform: scale(1.2);
}

.dot.active {
    background: #2d3748;  /* Dark color */
    width: 12px;
    height: 12px;
}

.title {
    background: white;
    color: #2d3748;
    padding: 15px 40px;
    border-radius: 15px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
